*{
    padding: 0;
    margin: 0;

}

.container-form {
    padding: 20px;
}

.img-logo{
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    justify-content: center;
    position: relative;
    height:120px;
    width:400px;
    top: 15px;
}

.img-logo a {
    position: relative;
    top: 105px
}

form .btn {
    width:100%
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    border: 1px solid #141414;
    background-color: #141414;
    color: #fff;
}

.container-user {
    width: 100vw;
    height: 80vh;
}

.container-form-register{
    width: 600px;
    
}

.containet-note {
    width: 400px;
    height:300px;
}

.navbar-container {
    display:flex;
    flex-direction: row;
    color: #141414;
    align-items: center;

}

.navbar-container a {
    text-decoration: none;
    color: #141414;
}

.container-list li {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.container-list a {
    padding: 30px;
    border-radius: 100px;
}

.container-list a:hover { 
    background-color: #cfcfcf;
    border-radius: 100px;
}