@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container-form {
    padding: 20px;
}

.login-container { 
    width: 100vw;
    height: 80vh;
}

.img-logo{
    background-image: url('../img/logo.png');
    background-size:cover;
    width: 210px;
}

.img-logo a {
    position: relative;
    top: 90px
}

form .btn {
    width:100%
}

.alert {
    position: relative !important;
    margin-bottom: 0;
}

.container-user {
    width: 100vw;
    height: 80vh;
}

.container-form-register{
    width: 600px;
    
}

.containet-note {
    width: 400px;
    height:300px;
}

.navbar-container {
    display:flex;
    flex-direction: row;
    color: #141414;
    align-items: center;

}

.navbar-container a {
    text-decoration: none;
    color: #141414;
}

.container-list li {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.container-list a {
    padding: 30px;
    border-radius: 100px;
}

.container-list a:hover { 
    color:#14497b;
}

.lineas {
    position: relative;
    width: 40%;
    margin-left: 60%;
    height: 12px;
    background-color: #000;
    background-color: #007B3E;
}

.lineaazul {
    position: relative;
    margin-bottom: 10px;
    background-color: #14497b;
}

.form-control {
    background-color: #f3f3f3 !important;
}

.form-select {
    background-color: #f3f3f3 !important;
}

footer {
    position: relative;
    width: 100vw;
    z-index: -9999;
} 